<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
    </head>
    <body>
        <form class="loginform" action="/login" method="post">
            <h3>Nexushd</h3>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="hidden" name="type" value="nexushd">
            <input type="submit" value="Login">
        </form>

        <form class="loginform" action="/login" method="post">
            <h3>Byr</h3>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <img src={{url}}>
            <input type="text" name="captcha" placeholder="Captcha" required>
            <input type="hidden" name="type" value="byr">
            <input type="submit" value="Login">
        </form>

        <form class="loginform" action="/login" method="post">
            <h3>Tju</h3>
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="hidden" name="type" value="tju">
            <input type="submit" value="Login">
        </form>

        
        <form action="/search" method="get">
            <h2>Search</h3>
            <input type="input" name="name">
            <input type="submit" value="Search">
        </form>
    </body>
</html>